/* ---------------------------------------------------------------------------------------------- */
/* -----| GENERAL |------------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------- */

body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    line-height: 1.6rem;
    margin: 40px 0;
    min-width: 480px;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| SIDE BAR |----------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#side-bar {
    position: fixed;
}

#site-title {
    color: #333;
    text-align: center;
}

#site-title:hover {
    text-decoration: none;
}

#site-title h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.6rem;
    margin: 10px 0 0;
}

#blurb {
    color: #999;
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| SOCIAL ICONS |------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#social-icons {
    margin: 1rem 0;
    text-align: center;
}

#social-icons a {
    background-color: #CCC;
    border-radius: 4px;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 2px;
    padding: 5px 6px;
    text-align: center;
    width: 1.5rem;
}

#social-icons a {
}

#social-icons a:hover {
    background-color: #333;
    text-decoration: none;
}

#social-icons .google-plus:hover {
    background-color: #DD4B39;
}

#social-icons .twitter:hover {
    background-color: #00ACEE;
}

#social-icons .github:hover {
    background-color: #333;
}

#social-icons .rss:hover {
    background-color: #F90;
}

#social-icons .email:hover {
    background-color: #333;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| NAVIGATION |--------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#site-navigation {
    margin: 1rem 0;
}

#site-navigation li {
    margin-bottom: 3px;
}

#site-navigation li a {
    background-color: #EFEFEF;
    color: #999;
    display: block;
    padding: 10px;
}

#site-navigation li a:hover {
    background-color: #E9E9E9;
    text-decoration: none;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| CONTENT AREA |------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.contact-info-table {
    background-color: #EFEFEF;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
}

.contact-info-table td {
    padding: 20px;
}

.lead {
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin-top: 20px;
    text-align: justify;
}

.inner-padding {
    padding: 0 30px;
}

#content-area h3 {
    border-bottom: 1px solid #EEE;
    font-family: Arvo, serif;
    font-size: 1.6rem;
    font-weight: normal;
    margin: 2rem 0 1rem;
}

#content-area h4 small {
    font-size: .8rem;
}

#content-area ul li {
    line-height: 1.5rem;
}

.inline li {
    background-color: #F3F3F3;
    border-radius: 4px;
    margin: 5px;
    padding: 4px 6px !important;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| FOOTER |------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#site-footer {
    border-top: 1px solid #EEE;
    color: #CCC;
    margin: 1rem 0 0;
    padding: 10px;
    text-align: center;
}

#site-footer a {
    color: #CCC;
}

#site-footer a:hover {
    text-decoration: underline;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| RESPONSIVE |--------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */



@media (min-width:1200px) {

    html {
        font-size: 120%;
    }

}

@media (min-width: 980px) and (max-width: 1199px) {

    /* NULL */

}

@media (min-width: 768px) and (max-width: 979px) {

    html {
        font-size: 80%;
    }

}

@media (max-width: 767px) {

    body {
        margin: 20px 0;
    }

    #side-bar {
        background-color: #F3F3F3;
        margin: 0 0 20px;
        padding: 10px;
        position: relative;
    }

    #site-title {
        float: left;
        margin-right: -100%;
    }

    #site-title img {
        float: left;
        width: 40px;
    }

    #site-title h2 {
        line-height: 2.5rem;
        margin: 0 0 0 50px;
        text-align: center;
    }

    #blurb {
        display: none;
    }

    #social-icons {
        float: right;
        margin: .2rem 0 0;
    }

}
