/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    margin: 40px 0;
}


/* -------------------------------------------------------------------------- */
/* -----| SIDE BAR |--------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#site-title {
    color: #333;
    text-align: center;
}

#site-title:hover {
    text-decoration: none;
}

#site-title h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 2rem 0;
    white-space: nowrap;
}

#site-title img {
    max-width: 100%;
}

#blurb {
    color: #999;
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}


/* -------------------------------------------------------------------------- */
/* -----| SOCIAL ICONS |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#social-icons {
    margin: 1rem 0;
    text-align: center;
}

#social-icons a {
    background-color: #CCC;
    border-radius: 4px;
    color: #FFF;
    display: inline-block;
    margin: 0 2px;
    padding: 5px;
    text-align: center;
}

#social-icons a:hover {
    background-color: #333;
    text-decoration: none;
}

#social-icons i {
    display: inline-block;
    font-size: 2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    vertical-align: middle;
    width: 2.2rem;
}

#social-icons .google-plus:hover {
    background-color: #DD4B39;
}

#social-icons .twitter:hover {
    background-color: #00ACEE;
}

#social-icons .github:hover {
    background-color: #333;
}

#social-icons .rss:hover {
    background-color: #F90;
}

#social-icons .email:hover {
    background-color: #333;
}


/* -------------------------------------------------------------------------- */
/* -----| NAVIGATION |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#site-navigation {
    margin: 1rem 0;
}

#site-navigation li {
    margin-bottom: 3px;
}

#site-navigation li a {
    background-color: #EFEFEF;
    color: #999;
    display: block;
    padding: 10px;
}

#site-navigation li a:hover {
    background-color: #E9E9E9;
    text-decoration: none;
}


/* -------------------------------------------------------------------------- */
/* -----| CONTENT AREA |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.contact-info-table {
    background-color: #EFEFEF;
    border-radius: 6px;
    width: 100%;
}

.contact-info-table td {
    padding: 20px;
}

.contact-info-mobile {
    background-color: #EFEFEF;
    border-radius: 6px;
    display: none;
    padding: 20px;
    text-align: center;
}

.lead {
    font-size: 1.75rem;
    margin: 2rem 0;
    text-align: justify;
}

#content-area h3 {
    border-bottom: 1px solid #E3E3E3;
    font-family: Arvo, serif;
    font-weight: normal;
    padding-bottom: 5px;
    margin: 4rem 0 1rem;
}

.list-inline li {
    background-color: #EFEFEF;
    border-radius: 4px;
    margin: 5px;
    padding: 4px 6px !important;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#site-footer {
    border-top: 1px solid #EEE;
    color: #CCC;
    margin: 1rem 0 0;
    padding: 10px;
    text-align: center;
}

#site-footer a {
    color: #CCC;
}

#site-footer a:hover {
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* -----| RESPONSIVE |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@media (min-width:1200px) {

    html {
        font-size: 100%;
    }

}

@media (min-width: 980px) and (max-width: 1199px) {

    /* NULL */

}

@media (min-width: 768px) and (max-width: 979px) {

    html {
        font-size: 80%;
    }

}

@media (max-width: 767px) {

    body {
        margin: 0;
    }

    #side-bar {
        background-color: #EFEFEF;
        margin: 0 0 20px;
        padding: 20px;
        position: relative;
    }

    #site-title {
        float: left;
        margin-right: -100%;
    }

    #site-title img {
        float: left;
        width: 40px;
    }

    #site-title h2 {
        line-height: 4rem;
        margin: 0 0 0 50px;
        text-align: center;
    }

    #social-icons {
        float: right;
        margin: .4rem 0 0;
    }

}

@media (max-width: 520px) {

    body {
        margin: 0;
    }

    #site-title {
        display: block;
        float: none;
        margin: 0;
        text-align: center;
    }

    #site-title img {
        float: none;
        width: 100%;
    }

    #site-title h2 {
        margin: .5rem 0 0;
    }

    #social-icons {
        display: block;
        float: none;
        margin-top: .5rem;
    }

    .contact-info-table {
        display: none;
    }

    .contact-info-mobile {
        display: block;
    }

}